<!-- branch.html -->

<h1>{{ branch.branch }}</h1>
<a href="/libraries/{{ library.id }}">{{ library.year }} - {{ library.name }}</a>

<div class="container-fluid">
  <div class="row"> <!-- bootstrap classes -->

    <div class="col-md-3">
      <div id="branch">
	<h2>Branch</h2>
	<table border="1" cellpadding="10">
	  <thead>
	    <tr>
	      <th>Category</th>
	      <th>Detail</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr><td>Symbol</td><td>{{ branch.symbol }}</td></tr>
	    <tr><td>Located</td><td><a href="/municipalities/{{ branch.municipality_id }}">{{ branch.located }}</a></td></tr>
	    <tr><td>Facility owner</td><td>{{ branch.facility_owner }}</td></tr>
	    <tr><td>Rent</td><td>{{ branch.annual_rent }}</td></tr>
	    <tr><td>Facility term expires</td><td>{{ branch.facility_term_expires }}</td></tr>
	    <tr><td>Sq.ft.</td><td>{{ branch.floor_space }}</td></tr>
	    <tr><td>Active memberships</td><td>{{ branch.active_memberships }}</td></tr>
	    <tr><td>Nonres Single</td><td>{{ branch.nonresident_single_memberships }}</td></tr>
	    <tr><td>Nonres Family</td><td>{{ branch.nonresident_family_memberships }}</td></tr>
	  </tbody>
	</table>
      </div>
    </div>
    
    <div class="col-md-9">
      <div id="contacts">
	<h2>Contacts</h2>
	<table border="1" cellpadding="10">
	  <thead>
	    <tr>
	      <th>Librarian</th>
	      <th>Phone</th>
	      <th>Email</th>
	      <th>Address</th>
	      <th>Links</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr ng-repeat="contact in contacts">
	      <td>{{ contact.librarian }}</td>
	      <td><strong>{{ contact.phone }}</strong><br />Fax: {{ contact.fax }}</td>
	      <td>
		Gen: {{ contact.email_general }}<br />
		Adm: {{ contact.email_admin }}<br />
		ILL: {{ contact.email_ill }}<br /></td>
	      <td>
		{{ contact.street }}<br/>
		{{ contact.box }}<br/>
		{{ contact.town }}, {{ contact.province }} {{ contact.postal_code }}</td>
	      <td>
		Web: <a href="{{ contact.website }}" target="_blank">{{ contact.website }}</a><br/>
		PAC: <a href="{{ contact.catalogue }}" target="_blank">{{ contact.catalogue }}</td>
	    </tr>
	  </tbody>
	</table>
      </div>
    </div>

    <div class="col-md-9">
      <div id="hours">
	<h2>Hours</h2>
	<table border="1" cellpadding="10">
	  <thead>
	    <tr>
	      <th>Seasonal</th>
	      <th>Starts</th>
	      <th>Ends</th>
	      <th>Sun</th>
	      <th>Mon</th>
	      <th>Tue</th>
	      <th>Wed</th>
	      <th>Thu</th>
	      <th>Fri</th>
	      <th>Sat</th>
	      <th>Open/Week</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr ng-repeat="h in hours">
	      <td>{{ h.seasonal }}</td>
	      <td>{{ h.season_begins }}</td>
	      <td>{{ h.season_ends }}</td>
	      <td>{{ h.sunday }}</td>
	      <td>{{ h.monday }}</td>
	      <td>{{ h.tuesday }}</td>
	      <td>{{ h.wednesday }}</td>
	      <td>{{ h.thursday }}</td>
	      <td>{{ h.friday }}</td>
	      <td>{{ h.saturday }}</td>
	      <td>{{ h.per_week }}</td>
	    </tr>
	  </tbody>
	</table>
      </div>
    </div>

    <div class="col-md-5">
      <div id="collections">
	<h2>Collections</h2>
	<table border="1" cellpadding="10">
	  <thead>
	    <tr>
	      <th>English</th>
	      <th>French</th>
	      <th>Other</th>
	      <th>Serial subscriptions</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr ng-repeat="coll in collections">
	      <td>{{ coll.english }}</td>
	      <td>{{ coll.french }}</td>
	      <td>{{ coll.other }}</td>
	      <td>{{ coll.serial_subscriptions }}</td>
	    </tr>
	  </tbody>
	</table>
      </div>
    </div>
    
    <div class="col-md-4">
      <div id="circulations">
	<h2>Circulations</h2>
	<table border="1" cellpadding="10">
	  <thead>
	    <tr>
	      <th>Adult</th>
	      <th>Child</th>
	      <th>A/V</th>
	      <th>eBook</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr ng-repeat="circ in circulations">
	      <td>{{ circ.adult }}</td>
	      <td>{{ circ.children }}</td>
	      <td>{{ circ.audio_visual }}</td>
	      <td>{{ circ.ebooks }}</td>
	    </tr>
	  </tbody>
	</table>
      </div>
    </div>
    
</div>
