<!DOCTYPE html>
<html>

<script>
document.addEventListener("keyup", function(event) {
    event.preventDefault();
    if (event.keyCode == 13) {
        document.getElementById("computeButton").click();
    }
});

jQuery(function($){
	$("#computeButton").click(function(){
		waitForElement();
	});
});

$(document).ready(function(){
	updateMunTable();
});

// Waits for a successful response.
function waitForElement(){
	var status = angular.element(document.getElementById("mainDiv")).scope().status;
	if(status == "Successful response."){
		updateTables();
	}
	else{
		setTimeout(function(){
			waitForElement();
		}, 250);
	}
}

// Updates tables in 'mainDiv' div, called upon successful computation of normalized values.
function updateTables(){
	removeAllTables('rightDiv');

	var normList = angular.element(document.getElementById("mainDiv")).scope().rawOutput;
	var length = (normList).length;
	for(var i = 0; i < length; i++){
		createTable(normList[i]);
	}
}

// Removes all tables from the given div.
function removeAllTables(givenDiv){
	var tables = document.getElementById(givenDiv).getElementsByTagName("table");
	for (var i = tables.length - 1; i >= 0; i -= 1){
		if (tables[i]){
			tables[i].parentNode.removeChild(tables[i]);
		}
	}
}

// Creates a table for the given municipality results.
function createTable(munVals){
    var body = document.getElementById("rightDiv"),
        tbl = document.createElement('table'),
		th = document.createElement('th');
    tbl.style.width  = '500px';
    tbl.style.border = '1px solid black';
	tbl.style.marginBottom = '20px';

	var rowIdx = 0;

	var header = tbl.createTHead();
	var row = header.insertRow(rowIdx++);
	
	var cell = row.insertCell(0);
	cell.style.border = '1px solid black';
	cell.innerHTML = "<b>Characteristic</b>";

	cell = row.insertCell(1);
	cell.style.border = '1px solid black';
	cell.innerHTML = "<b>Total</b>";

	cell = row.insertCell(2);
	cell.style.border = '1px solid black';
	cell.innerHTML = "<b>Male</b>";

	cell = row.insertCell(3);
	cell.style.border = '1px solid black';
	cell.innerHTML = "<b>Female</b>";

	var mycap = tbl.createCaption();
	mycap.innerHTML = "<b>" + munVals[0][0] + ": " + munVals[0][1] + "</b>";

	for(var char_idx = 0; char_idx < munVals[1].length; char_idx++){
		row = tbl.insertRow(rowIdx++);
		cell = row.insertCell(0);
		cell.style.border = '1px solid black';
		cell.innerHTML = "(" + munVals[1][char_idx][0][0] + ") " + munVals[1][char_idx][0][1];

		cell = row.insertCell(1);
		cell.style.border = '1px solid black';
		cell.innerHTML = munVals[1][char_idx][1][1].toFixed(4);

		cell = row.insertCell(2);
		cell.style.border = '1px solid black';
		cell.innerHTML = munVals[1][char_idx][1][2].toFixed(4);

		cell = row.insertCell(3);
		cell.style.border = '1px solid black';
		cell.innerHTML = munVals[1][char_idx][1][3].toFixed(4);
	}
    body.appendChild(tbl);
}

function updateMunTable(){
	var munList = angular.element(document.getElementById("mainDiv")).scope().munList;
	
	if(munList == "Empty"){
		setTimeout(function() {
			updateMunTable();
		}, 250);
	}
	else{
		removeAllTables("leftDiv");
		var table = createMunTable();
		var length = (munList).length;

		for(var rowCounter = 0; rowCounter < length; rowCounter++){
			var row = table.insertRow(rowCounter + 1);
			var cell0 = row.insertCell(0);
			cell0.style.border = '1px solid black';
			var cell1 = row.insertCell(1);
			cell1.style.border = '1px solid black';

			cell0.innerHTML = munList[rowCounter][0];
			cell1.innerHTML = munList[rowCounter][1];
		}
	}
}

function createMunTable(){
    var body = document.getElementById("leftDiv"),
        tbl = document.createElement('table'),
		th = document.createElement('th');
    tbl.style.width  = '250px';
    tbl.style.border = '1px solid black';
	tbl.style.marginBottom = '20px';

	var rowIdx = 0;

	var header = tbl.createTHead();
	var row = header.insertRow(rowIdx++);
	
	var cell = row.insertCell(0);
	cell.style.border = '1px solid black';
	cell.innerHTML = "<b>ID</b>";

	cell = row.insertCell(1);
	cell.style.border = '1px solid black';
	cell.innerHTML = "<b>Name</b>";

	var mycap = tbl.createCaption();
	mycap.innerHTML = "<b>Valid Municipalities</b>";

	body.appendChild(tbl);
	return tbl;
}
</script>

<script
src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js">
</script>

<body>

<div class="container-fluid" id="mainDiv">
	You may enter multiple ID's for each, with each ID separated by a space. (Valid values: muns = 600 609, chars = 20 40)<br><br>
	Municipality ID's: &nbsp;&nbsp;&nbsp;<input type="value" ng-model="munID" id="munTextbox"><br>
	Characteristic ID's: <input type="value" ng-model="charID" id="charTextbox"><br>
	<br>
	<input type="button" ng-click="getCensusValues()" value="Compute (Enter)" id="computeButton"><br><br>
	Status: {{status}}<br><br>

	<div style="float:left;" id="leftDiv"/>
	<div style="float:right;" id="rightDiv"/>
</div>

</body>
</html>