<!DOCTYPE html>
<html>

<script
src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js">
</script>
<script src="/libs/sorttable/sorttable.js"></script>

<script>
document.addEventListener("keyup", function(event) {
    event.preventDefault();
    if (event.keyCode == 13)
        document.getElementById("computeButton").click();
});

jQuery(function($){
	$("#computeButton").click(function(){
		waitForElement();
	});
});

$(document).ready(function(){
	updateMunTable();
});

// Waits for a successful response.
function waitForElement(){
	var status = angular.element(document.getElementById("mainDiv")).scope().status;
	if(status == "Successful response.")
		updateTables();
	else
		setTimeout(function(){
			waitForElement();
		}, 250);
}

// Updates tables in 'mainDiv' div, called upon successful computation of normalized values.
function updateTables(){
	removeAllTables('rightDiv');

	var normList = angular.element(document.getElementById("mainDiv")).scope().rawOutput;
	var length = (normList).length;
	for(var i = 0; i < length; i++)
		createTable(normList[i]);
}

// Removes all tables from the given div.
function removeAllTables(givenDiv){
	var tables = document.getElementById(givenDiv).getElementsByTagName("table");
	for (var i = tables.length - 1; i >= 0; i -= 1)
		if (tables[i])
			tables[i].parentNode.removeChild(tables[i]);
}

// Creates a table for the given municipality results.
function createTable(munVals){
    var body = document.getElementById("rightDiv"),
        tbl = document.createElement('table');
    tbl.style.width  = '500px';
    tbl.style.border = '1px solid black';
	tbl.style.marginBottom = '20px';

	var rowIdx = 0;

	var header = tbl.createTHead();
	var row = header.insertRow(rowIdx++);
	
	var cell = row.insertCell(0);
	cell.style.border = '1px solid black';
	cell.innerHTML = "<b>Characteristic</b>";

	cell = row.insertCell(1);
	cell.style.border = '1px solid black';
	cell.innerHTML = "<b>Total</b>";

	cell = row.insertCell(2);
	cell.style.border = '1px solid black';
	cell.innerHTML = "<b>Male</b>";

	cell = row.insertCell(3);
	cell.style.border = '1px solid black';
	cell.innerHTML = "<b>Female</b>";

	var mycap = tbl.createCaption();
	mycap.innerHTML = "<b>" + munVals[0][0] + ": " + munVals[0][1] + "</b>";

	for(var char_idx = 0; char_idx < munVals[1].length; char_idx++){
		row = tbl.insertRow(rowIdx++);
		cell = row.insertCell(0);
		cell.style.border = '1px solid black';
		cell.innerHTML = "(" + munVals[1][char_idx][0][0] + ") " + munVals[1][char_idx][0][1];

		cell = row.insertCell(1);
		cell.style.border = '1px solid black';
		cell.innerHTML = Math.round(munVals[1][char_idx][1][1]*10000)/10000;

		cell = row.insertCell(2);
		cell.style.border = '1px solid black';
		cell.innerHTML = Math.round(munVals[1][char_idx][1][2]*10000)/10000;

		cell = row.insertCell(3);
		cell.style.border = '1px solid black';
		cell.innerHTML = Math.round(munVals[1][char_idx][1][3]*10000)/10000;
	}
    body.appendChild(tbl);
}

function updateMunTable(){
	var munList = angular.element(document.getElementById("leftDiv")).scope().munList;
	
	if(munList == "Empty"){
		setTimeout(function() {
			updateMunTable();
		}, 250);
	}
	else{
		removeAllTables("leftDiv");
		var table = createMunTable();
		var length = munList.length;
		var row, cell;

		for(var rowCounter = 0; rowCounter < length; rowCounter++){
			row = table.insertRow(rowCounter + 1);

			cell = row.insertCell(0);
			cell.style.border = '1px solid black';
			cell.innerHTML = munList[rowCounter][0];

			cell = row.insertCell(1);
			cell.style.border = '1px solid black';
			cell.innerHTML = munList[rowCounter][1];

			row.addEventListener("click", function(){
				var val = this.childNodes[0].innerHTML;

				if(document.getElementById('munTextbox').value == '')
					document.getElementById('munTextbox').value = val;
				else
					document.getElementById('munTextbox').value += ' ' + val;

				angular.element(document.getElementById('munTextbox')).trigger('input');
			});
		}
	}
}

function createMunTable(){
    var body = document.getElementById("leftDiv"),
        tbl = document.createElement('table');
    tbl.style.width  = '250px';
    tbl.style.border = '1px solid black';
	tbl.style.marginBottom = '20px';
	tbl.style.marginRight = '20px';

	var rowIdx = 0;

	var header = tbl.createTHead();
	var row = header.insertRow(rowIdx++);
	
	var cell = row.insertCell(0);
	cell.style.border = '1px solid black';
	cell.innerHTML = "<b>ID</b>";

	cell = row.insertCell(1);
	cell.style.border = '1px solid black';
	cell.innerHTML = "<b>Name</b>";

	var mycap = tbl.createCaption();
	mycap.innerHTML = "<b>Valid Municipalities</b>";

	body.appendChild(tbl);
	return tbl;
}

function updateCharTable(){
	var charsList = angular.element(document.getElementById("mainDiv")).scope().charsList;
	if(charsList.length == 0)
		setTimeout(function() {
			updateCharTable();
		}, 250);
	else{
		var validCharsList = angular.element(document.getElementById("mainDiv")).scope().validCharsList;
		removeAllTables('charDiv');
		var body = document.getElementById("charDiv");
		var tbl = createCharTable();
		var numChars = validCharsList.length;
		var row;
		var cell;
		var rowCounter = 1;

		for(var i = 0; i < numChars; i++){
			if(validCharsList[i] == 1){
				row = tbl.insertRow(rowCounter);
				
				cell = row.insertCell(0);
				cell.style.border = '1px solid black';
				cell.innerHTML = charsList[i][0];
					
				cell = row.insertCell(1);
				cell.style.border = '1px solid black';
				cell.innerHTML = charsList[i][1];

				row.addEventListener("click",function(){
					var charID = this.childNodes[0].textContent.split(' ')[0];
					if(document.getElementById('charTextbox').value == '')
						document.getElementById('charTextbox').value = charID;
					else
						document.getElementById('charTextbox').value += ' ' + charID;

					angular.element(document.getElementById('charTextbox')).trigger('input');
				});

				rowCounter++;
			}
		}
		// tbl.className = 'sortable';
		// sorttable.makeSortable(document.getElementById('tbl_asdf'));
		sorttable.makeSortable(tbl);
		body.appendChild(tbl);
		// sorttable.makeSortable(tbl);
		// sorttable.makeSortable(document.getElementById('testTableID'));
	}
}

function createCharTable(){
    var body = document.getElementById("charDiv");
	// body.style.overflow = 'scroll';
	// body.style.height = '500px';
    var tbl = document.createElement('table');
    tbl.style.width  = '250px';
    tbl.style.border = '1px solid black';
	tbl.style.marginBottom = '20px';
	tbl.style.marginRight = '20px';
	// tbl.style.overflow = 'scroll';
	// tbl.style.height = '500px';
	// tbl.setAttribute('class', 'sortable');
	// tbl.className = 'sortable';
	// tbl.classList.add('sortable');
	// tbl.id = 'tbl_asdf';

	var header = tbl.createTHead();
	var row = header.insertRow(0);
	
	var cell = row.insertCell(0);
	cell.style.border = '1px solid black';
	cell.innerHTML = "<b>ID</b>";

	cell = row.insertCell(1);
	cell.style.border = '1px solid black';
	cell.innerHTML = "<b>Name</b>";

	var mycap = tbl.createCaption();
	mycap.innerHTML = "<b>Valid Characteristics</b>";

	return tbl;
}

function doMakeSortable(){
	// var body = document.getElementById("testDiv");
	// var tbl = document.createElement('table');
	var tbl = document.getElementById('testTableID');


	var header = tbl.createTHead();
	var row = header.insertRow(0);
	
	var cell = row.insertCell(0);
	// cell.style.border = '1px solid black';
	cell.innerHTML = "test1";

	// cell = row.insertCell(1);
	// cell.style.border = '1px solid black';
	// cell.innerHTML = "test2";

	row = tbl.insertRow(1);

	cell = row.insertCell(0);
	// cell.style.border = '1px solid black';
	cell.innerHTML = '1';

	// cell = row.insertCell(1);
	// cell.style.border = '1px solid black';
	// cell.innerHTML = '54';

	row = tbl.insertRow(2);

	cell = row.insertCell(0);
	// cell.style.border = '1px solid black';
	cell.innerHTML = '2';

	// cell = row.insertCell(1);
	// cell.style.border = '1px solid black';
	// cell.innerHTML = '5324';
	
	sorttable.makeSortable(tbl);
	// body.appendChild(tbl);
}
</script>

<body>

<div class="container-fluid" id="mainDiv">
	You may enter multiple ID's for each, with each ID separated by a space.<br>
	You may also choose a municipality on the map to add it to the list.<br>
	You may also click on an ID within either the Valid Municipalities or Valid Characteristics tables to add it to the appropriate list.<br><br><br>
	Municipality ID's: &nbsp;&nbsp;&nbsp;<input type="value" ng-model="munID" id="munTextbox"><br>
	Characteristic ID's: <input type="value" ng-model="charID" id="charTextbox"><br>
	<br>
	<input type="button" ng-click="getCensusValues()" value="Compute (Enter)" id="computeButton"><br><br>
	<input type="button" ng-click="getValidChars()" onclick="setTimeout(updateCharTable, 100);" value="Get Valid Characteristics" id="charsButton"><br><br>
	<!--<input type="button" onclick="doMakeSortable();" value="Make Sortable" id="sortableButton"><br><br>-->
	<!--Chars List: {{charsList}}<br><br>-->
	<!--Valid Chars List: {{validCharsList}}<br><br>-->
	Status: {{status}}<br><br>

	<div style="float:left;" id="leftDiv"/>
	<div style="float:left;" id='charDiv'/>
	<div style="float:left;" id="rightDiv"/>

	<!--<div style="float:left;" id="testDiv"/>-->
	<!--<table id='testTableID'/>-->
	<!--<table id='testTableID'>
		<thead>
			<tr><td>asdf</td></tr>
		</thead>
		<tr><td>asdf2</td></tr>
		<tr><td>asdf1</td></tr>
		<tr><td>fdsa</td></tr>
	</table>-->
</div>

</body>
</html>