<!-- library.html -->

<div class="container-fluid">
  <div class="row"> <!-- bootstrap classes -->
    <div class="col-md-3">
      <div id="library">
	<h2>Library</h2>
	<table border="1" cellpadding="10">
	  <thead>
	    <tr>
	      <th>Category</th>
	      <th>Detail</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr><td>ID</td><td>{{ library.id }}</td></tr>
	    <tr><td>Year</td><td>{{ library.year }}</td></tr>
	    <tr><td>Library</td><td>{{ library.name }}</td></tr>
	    <tr><td>Established</td><td>{{ library.established }}</td></tr>
	    <tr><td>Non-res fee, single</td><td>{{ library.fee_nonresident_single }}</td></tr>
	    <tr><td>Non-res fee, family</td><td>{{ library.fee_nonresident_family }}</td></tr>
	    <tr><td>Is registered charity?</td><td>{{ library.is_registered_charity }}</td></tr>
	    <tr><td>Has Access Copyright license?</td><td>{{ library.has_access_copyright_license }}</td></tr>
	    <tr><td>Board minutes on web site?</td><td>{{ library.has_board_minutes_on_website }}</td></tr>
	    <tr><td>Strategic plan start</td><td>{{ library.strategic_plan_start }}</td></tr>
	    <tr><td>Strategic plan end</td><td>{{ library.strategic_plan_end }}</td></tr>
	    <tr><td>Has technology plan?</td><td>{{ library.has_technology_plan }}</td></tr>
	    <tr><td>Confirmed?</td><td>{{ library.is_confirmed }}</td></tr>
	  </tbody>
	</table>
      </div>
    </div>

    <div class="col-md-9">
      <div id="contacts">
	<h2>Contacts</h2>
	<table border="1" cellpadding="10">
	  <thead>
	    <tr>
	      <th>Branch</th>
	      <th>Librarian</th>
	      <th>Phone</th>
	      <th>Email</th>
	      <th>Address</th>
	      <th>Links</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr ng-repeat="contact in contacts">
	      <td><a href="/branches/{{ contact.branch_id }}">{{ contact.branch }}</a></td>
	      <td>{{ contact.librarian }}</td>
	      <td><strong>{{ contact.phone }}</strong><br />Fax: {{ contact.fax }}</td>
	      <td>
		Gen: {{ contact.email_general }}<br />
		Adm: {{ contact.email_admin }}<br />
		ILL: {{ contact.email_ill }}<br /></td>
	      <td>
		{{ contact.street }}<br/>
		{{ contact.box }}<br/>
		{{ contact.town }}, {{ contact.province }} {{ contact.postal_code }}</td>
	      <td>
		Web: <a href="{{ contact.website }}" target="_blank">{{ contact.website }}</a><br/>
		PAC: <a href="{{ contact.catalogue }}" target="_blank">{{ contact.catalogue }}</td>
	    </tr>
	  </tbody>
	</table>
      </div>
    </div>

    <div class="col-md-9">
      <div id="hours">
	<h2>Hours</h2>
	<table border="1" cellpadding="10">
	  <thead>
	    <tr>
	      <th>Branch</th>
	      <th>Seasonal</th>
	      <th>Starts</th>
	      <th>Ends</th>
	      <th>Sun</th>
	      <th>Mon</th>
	      <th>Tue</th>
	      <th>Wed</th>
	      <th>Thu</th>
	      <th>Fri</th>
	      <th>Sat</th>
	      <th>Open/Week</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr ng-repeat="h in hours">
	      <td><a href="/branches/{{ h.branch_id }}">{{ h.branch }}</a></td>
	      <td>{{ h.seasonal }}</td>
	      <td>{{ h.season_begins }}</td>
	      <td>{{ h.season_ends }}</td>
	      <td>{{ h.sunday }}</td>
	      <td>{{ h.monday }}</td>
	      <td>{{ h.tuesday }}</td>
	      <td>{{ h.wednesday }}</td>
	      <td>{{ h.thursday }}</td>
	      <td>{{ h.friday }}</td>
	      <td>{{ h.saturday }}</td>
	      <td>{{ h.per_week }}</td>
	    </tr>
	  </tbody>
	</table>
      </div>
    </div>

    <div class="col-md-4">
      <div id="contributors">
	<h2>Contributors</h2>
	<table border="1" cellpadding="10">
	  <thead>
	    <tr>
	      <th>ID</th>
	      <th>Municipality</th>
	      <th>Contribution</th>
	      <th>Per capita</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr ng-repeat="contrib in contributors | orderBy:'name'">
	      <td>{{ contrib.id }}</td>
	      <td><a href="/municipalities/{{ contrib.id }}">{{ contrib.name }}</a></td>
	      <td>{{ contrib.contribution }}</td>
	      <td>{{ contrib.percapita }}</td>
	    </tr>
	  </tbody>
	</table>
      </div>
    </div>

    <div class="col-md-9">
      <div id="branches">
	<h2>Branches</h2>
	<table border="1" cellpadding="10">
	  <thead>
	    <tr>
	      <th>Branch</th>
	      <th>Symbol</th>
	      <th>Located</th>
	      <th>Facility owner</th>
	      <th>Rent</th>
	      <th>Facility term expires</th>
	      <th>Sq.ft.</th>
	      <th>Active memberships</th>
	      <th>Nonres Single</th>
	      <th>Nonres Family</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr ng-repeat="branch in branches">
	      <td><a href="/branches/{{ branch.branch_id }}">{{ branch.branch }}</a></td>
	      <td>{{ branch.symbol }}</td>
	      <td><a href="/municipalities/{{ branch.municipality_id }}">{{ branch.located }}</a></td>
	      <td>{{ branch.facility_owner }}</td>
	      <td>{{ branch.annual_rent }}</td>
	      <td>{{ branch.facility_term_expires }}</td>
	      <td>{{ branch.floor_space }}</td>
	      <td>{{ branch.active_memberships }}</td>
	      <td>{{ branch.nonresident_single_memberships }}</td>
	      <td>{{ branch.nonresident_family_memberships }}</td>
	    </tr>
	  </tbody>
	</table>
      </div>
    </div>

    <div class="col-md-3">
      <div id="financial-income">
	<h2>Income</h2>
	<table border="1" cellpadding="10">
	  <thead></thead>
	  <tbody>
	    <tr><td>Municipal contribution</td><td style="text-align:right">{{ financial.income_municipal_contribution }}</td></tr>
	    <tr><td>Provincial operating</td><td style="text-align:right">{{ financial.income_provincial_operating_grant }}</td></tr>
	    <tr><td>Provincial collection development grant</td><td style="text-align:right">{{ financial.income_provincial_collection_development_grant }}</td></tr>
	    <tr><td>Provincial establishment grant</td><td style="text-align:right">{{ financial.income_provincial_establishment_grant }}</td></tr>
	    <tr><td>Other federal</td><td style="text-align:right">{{ financial.income_other_federal }}</td></tr>
	    <tr><td>Other provincial</td><td style="text-align:right">{{ financial.income_other_provincial }}</td></tr>
	    <tr><td>Other municipal</td><td style="text-align:right">{{ financial.income_other_municipal }}</td></tr>
	    <tr><td>Other private</td><td style="text-align:right">{{ financial.income_other_private }}</td></tr>
	    <tr><td>Other misc.</td><td style="text-align:right">{{ financial.income_other_miscellaneous }}</td></tr>
	  </tbody>
	</table>
      </div>
    </div>
    
    <div class="col-md-3">
      <div id="financial-expense">
	<h2>Expenses</h2>
	<table border="1" cellpadding="10">
	  <thead></thead>
	  <tbody>
	    <tr><td>Personnel</td><td style="text-align:right">{{ financial.expenditure_personnel }}</td></tr>
	    <tr><td>Materials</td><td style="text-align:right">{{ financial.expenditure_materials }}</td></tr>
	    <tr><td>Capital</td><td style="text-align:right">{{ financial.expenditure_capital }}</td></tr>
	    <tr><td>Building</td><td style="text-align:right">{{ financial.expenditure_building }}</td></tr>
	    <tr><td>Technology</td><td style="text-align:right">{{ financial.expenditure_technology }}</td></tr>
	    <tr><td>Other</td><td style="text-align:right">{{ financial.expenditure_other }}</td></tr>
	  </tbody>
	</table>
      </div>
    </div>
    
    <div class="col-md-6">
      <div id="collections">
	<h2>Collections</h2>
	<table border="1" cellpadding="10">
	  <thead>
	    <tr>
	      <th>Branch</th>
	      <th>English</th>
	      <th>French</th>
	      <th>Other</th>
	      <th>Serial subscriptions</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr ng-repeat="coll in collections">
	      <td><a href="/branches/{{ coll.branch_id }}">{{ coll.branch }}</a></td>
	      <td>{{ coll.english }}</td>
	      <td>{{ coll.french }}</td>
	      <td>{{ coll.other }}</td>
	      <td>{{ coll.serial_subscriptions }}</td>
	    </tr>
	  </tbody>
	</table>
      </div>
    </div>
    
    <div class="col-md-6">
      <div id="circulations">
	<h2>Circulations</h2>
	<table border="1" cellpadding="10">
	  <thead>
	    <tr>
	      <th>Branch</th>
	      <th>Adult</th>
	      <th>Child</th>
	      <th>A/V</th>
	      <th>eBook</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr ng-repeat="circ in circulations">
	      <td><a href="/branches/{{ circ.branch_id }}">{{ circ.branch }}</a></td>
	      <td>{{ circ.adult }}</td>
	      <td>{{ circ.children }}</td>
	      <td>{{ circ.audio_visual }}</td>
	      <td>{{ circ.ebooks }}</td>
	    </tr>
	  </tbody>
	</table>
      </div>
    </div>
    
</div>
