<!DOCTYPE html>
<html>

<script>
jQuery(function($){
	$("#computeButton").click(function(){
		waitForElement("censusTable");
	});
});

$(document).ready(function(){
	updateMunRows("munTable");
});

// Submit on enter key in munID textbox
document.getElementById("munTextbox")
    .addEventListener("keyup", function(event) {
    event.preventDefault();
    if (event.keyCode == 13) {
        document.getElementById("computeButton").click();
    }
});

function removeRows(tableID){
	var table = document.getElementById(tableID);
	while($("#" + tableID + " tr").length > 1){
		table.deleteRow(1);
	}
}

function updateCensusRows(tableID){
	var table = document.getElementById(tableID);
	var scope = angular.element(document.getElementById(tableID)).scope();
	var length = (scope.rawOutput).length;

	removeRows(tableID);

	for(var rowCounter = 0; rowCounter < length; rowCounter++){
		var row = table.insertRow(rowCounter + 1);
		var cell0 = row.insertCell(0);
		var cell1 = row.insertCell(1);
		var cell2 = row.insertCell(2);
		var cell3 = row.insertCell(3);
		var cell4 = row.insertCell(4);

		cell0.innerHTML = scope.rawOutput[rowCounter][0][0];
		cell1.innerHTML = scope.rawOutput[rowCounter][0][1];
		cell2.innerHTML = scope.rawOutput[rowCounter][1][1];
		cell3.innerHTML = scope.rawOutput[rowCounter][1][2];
		cell4.innerHTML = scope.rawOutput[rowCounter][1][3];
	}
}

function waitForElement(tableID){
	var status = angular.element(document.getElementById(tableID)).scope().status;
	if(status == "Successful response."){
		updateCensusRows(tableID);
	}
    else{
        setTimeout(function(){
			waitForElement(tableID);
		}, 250);
    }
}

function updateMunRows(tableID){
	var munList = angular.element(document.getElementById(tableID)).scope().munList;
	
	if(munList == "Empty"){
		setTimeout(function() {
			updateMunRows(tableID);
		}, 250);
	}
	else{
		removeRows(tableID);
		var table = document.getElementById(tableID);
		var length = (munList).length;

		for(var rowCounter = 0; rowCounter < length; rowCounter++){
			var row = table.insertRow(rowCounter + 1);
			var cell0 = row.insertCell(0);
			var cell1 = row.insertCell(1);

			cell0.innerHTML = munList[rowCounter][0];
			cell1.innerHTML = munList[rowCounter][1];
		}
	}
}
</script>

<script
src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js">
</script>

<body>

<div class="container-fluid">
	You may enter multiple municipality ID's, with each ID separated by a space. (Valid values: munID = 600 609)<br><br>
	Municipality ID: <input type="value" ng-model="munID" id="munTextbox"><br>
	<br>
	<input type="button" ng-click="group();" value="Compute (Enter)" id="computeButton"><br><br>
	Status: {{status}}<br><br>
	<!--Mun List: {{munList}}<br><br>-->
	<!--Raw Output: {{rawOutput}}<br><br>-->

	<div style="float:left;">
		<table border="1" cellpadding="10" id="munTable">
			<caption>Valid Municipalities</caption>
			<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
			</tr>
			</thead>
		</table>
	</div>

	<div style="float:right;">
		<table border="1" cellpadding="10" id="censusTable">
			<caption>Grouped Census Values</caption>
			<thead>
			<tr>
				<th>ID</th>
				<th>Characteristic</th>
				<th>Total</th>
				<th>Male</th>
				<th>Female</th>
			</tr>
			</thead>
		</table>
	</div>
	<br>

</div>

</body>
</html>