<!-- municipality-details.html -->

<div class="container">
  <h2>Municipality Details</h2>
  Filter 1: <input type="text" ng-model="filter.filter1" /> {{ filter1 }}<br />
  Filter 2: <input type="text" ng-model="filter.filter2" /> {{ filter2 }}<br />
  <br />
  <table border="1" cellpadding="10">
    <thead>
      <tr>
	<th>Category</th>
	<th>Detail</th>
      </tr>
    </thead>
    <tbody>
      <tr><td>ID</td><td>{{ municipality.id }}</td></tr>
      <tr><td>Year</td><td>{{ municipality.year }}</td></tr>
      <tr><td>Name</td><td>{{ municipality.name }}</td></tr>
      <tr><td>Population</td><td>{{ municipality.population }}</td></tr>
      <tr><td>Bilingual?</td><td>{{ municipality.is_bilingual }}</td></tr>
      <tr><td>Northern?</td><td>{{ municipality.is_northern }}</td></tr>
    </tbody>
  </table>

</div>
