<!-- municipalities.html -->

<div class="container">
  <h2>Municipalities</h2>
  Name:<br />
  <input type="text" ng-model="filter.name" /> {{ name }}
  <br />
  <table>
    <thead>
      <tr><th>Municipality</th><th>Population</th></tr>
    </thead>
    <tbody>
      <!-- repeat is binding to $scope's municipalities property ... is it? -->
      <tr ng-repeat="mun in municipalities |filter:filter.name">
	<td>{{ mun.name }}</td>
	<td>{{ mun.pop }}</td>
      </tr>
    </tbody>
  </table>

  <br />
  <a href="/view2">View 2</a>
</div>
