<!DOCTYPE html>
<html>

<script>
jQuery(function($){
	$("#computeButton").click(function(){
		updatePairsTable([]);
		updateFilterList();
	});
});

document.addEventListener("keyup", function(event) {
    event.preventDefault();
    if (event.keyCode == 13)
        document.getElementById("computeButton").click();
});

function removeRows(tableID){
	var table = document.getElementById(tableID);
	while($("#" + tableID + " tr").length > 1)
		table.deleteRow(1);
}

// Removes all tables from the given div.
function removeAllTables(givenDiv){
	var tables = document.getElementById(givenDiv).getElementsByTagName("table");
	for (var i = tables.length - 1; i >= 0; i -= 1)
		if (tables[i])
			tables[i].parentNode.removeChild(tables[i]);
}

function updateFilterList(){
	var scope = angular.element(document.getElementById("mainDiv")).scope();

	if(scope.status != "Successful response.")
		setTimeout(function(){
			updateFilterList();
		}, 250);
    else{
		var tableList = scope.tableList;
		var body = document.getElementById('checkboxDiv');

		// Removes all elements from 'checkboxDiv' div.
		while (body.firstChild)
			body.removeChild(body.firstChild);

		var checkbox;
		var label;
		body.appendChild(document.createTextNode('Filter by tables:'));
		body.appendChild(document.createElement('br'));
	
		for(var i = 0; i < tableList.length; i++){
			checkbox = document.createElement('input');
			checkbox.type = "checkbox";
			checkbox.id = "box" + i;
			checkbox.value = i;
			checkbox.name = tableList[i];

			checkbox.addEventListener('change', function(){
				updateFilters(this.checked);			
			});

			label = document.createElement('label')
			label.htmlFor = "box" + i;
			label.appendChild(document.createTextNode('  ' + tableList[i]));

			body.appendChild(checkbox);
			body.appendChild(label);
			body.appendChild(document.createElement('br'));
		}
		body.appendChild(document.createElement('br'));
	}	
}

// Is called if a filter method radio button is changed, calls to update checkbox filters, which then redraws the pairs list table.
function filterMethodChange(){
	var scope = angular.element(document.getElementById("mainDiv")).scope();
	if(scope.status == "Successful response.")
		updateFilters(false);
}

function updateFilters(moreFiltered){
	var body = document.getElementById('checkboxDiv');
	var boxes = body.getElementsByTagName('input');
	var tableFilters = [];
	var filtersIdx = 0;
	for(var i = 0; i < boxes.length; i++)
		if(boxes[i].checked)
			tableFilters[filtersIdx++] = boxes[i].name;
	updatePairsTable(tableFilters);
}

function contains(arr, v1, v2) {
	// ANDing selected: both table names must be within the filters list
	if($('input[name=filterMethod]:checked').val() === 'AND'){
		var v1Valid = false;
		var v2Valid = false;

		for(var i = 0; i < arr.length; i++){
			if(arr[i] === new String(v1).valueOf())
				v1Valid = true;
			if(arr[i] === new String(v2).valueOf())
				v2Valid = true;
		}
		return v1Valid && v2Valid;
	}

	// ORing selected: only one table name must be within the filters list
	else{
		for(var i = 0; i < arr.length; i++)
			if(arr[i] === new String(v1).valueOf() || arr[i] === new String(v2).valueOf())
				return true;
		return false;
	}
};

function updatePairsTable(tableFilters){
	var scope = angular.element(document.getElementById("mainDiv")).scope();
	
	if(scope.status != "Successful response.")
		setTimeout(function(){
			updatePairsTable(tableFilters);
		}, 250);
    else{
		removeAllTables("mainDiv");
		insertIntoPairsTable(tableFilters);
	}
}

function insertIntoPairsTable(tableFilters){
	var tbl = createPairsTable();
	var scope = angular.element(document.getElementById("mainDiv")).scope();
	var length = (scope.rawOutput[0]).length;
	var row;
	var cellIdx;
	var cell;
	var rowCounter = 1; // Set to 1 due to header row.
	var filterValid;
	var tablesValid;

	var notSameTables = $('input[name=sameTableFilter]:checked').val() === 'notSame';
	var allowSameTables = $('input[name=sameTableFilter]:checked').val() === 'allowSame';
	var onlySameTables = $('input[name=sameTableFilter]:checked').val() === 'onlySame';

	var PCC_lower = document.getElementById("PCC_lowerTolerance");
	var PCC_upper = document.getElementById("PCC_upperTolerance");
	var RCC_lower = document.getElementById("RCC_lowerTolerance");
	var RCC_upper = document.getElementById("RCC_upperTolerance");

	for(var i = 1; i < length; i++){
		if(tableFilters.length != 0)
			filterValid = contains(tableFilters, scope.rawOutput[0][i][0], scope.rawOutput[0][i][2]);

		tablesValid =
			allowSameTables
			|| ((!notSameTables || (notSameTables && (scope.rawOutput[0][i][0] !== scope.rawOutput[0][i][2])))
			&& (!onlySameTables || (onlySameTables && (scope.rawOutput[0][i][0] === scope.rawOutput[0][i][2]))));

		tolerancesValid =
			   (PCC_lower.value == null || PCC_lower.value == '' || (parseFloat(PCC_lower.value) <= parseFloat(scope.rawOutput[1][i][4][1])))
			&& (PCC_upper.value == null || PCC_upper.value == '' || (parseFloat(PCC_upper.value) >= parseFloat(scope.rawOutput[1][i][4][1])))
			&& (RCC_lower.value == null || RCC_lower.value == '' || (parseFloat(RCC_lower.value) <= parseFloat(scope.rawOutput[1][i][5][1])))
			&& (RCC_upper.value == null || RCC_upper.value == '' || (parseFloat(RCC_upper.value) >= parseFloat(scope.rawOutput[1][i][5][1])));

		if(tablesValid && tolerancesValid && (tableFilters.length == 0 || filterValid)){
			row = tbl.insertRow(rowCounter);
			cellIdx = 0;

			// Table 1
			cell = row.insertCell(cellIdx++);
			cell.style.border = '1px solid black';
			cell.innerHTML = scope.rawOutput[0][i][0];

			// Field 1
			cell = row.insertCell(cellIdx++);
			cell.style.wordWrap = 'break-word';
			cell.style.wordBreak = 'break-all';
			cell.style.border = '1px solid black';
			cell.innerHTML = scope.rawOutput[0][i][1];

			// Field 1 Average
			cell = row.insertCell(cellIdx++);
			cell.style.border = '1px solid black';
			cell.innerHTML = Math.round(scope.rawOutput[1][i][0][1]*100)/100;

			// Field 1 SD
			cell = row.insertCell(cellIdx++);
			cell.style.border = '1px solid black';
			cell.innerHTML = Math.round(scope.rawOutput[1][i][1][1]*100)/100;

			// Table 2
			cell = row.insertCell(cellIdx++);
			cell.style.border = '1px solid black';
			cell.innerHTML = scope.rawOutput[0][i][2];

			// Field 2
			cell = row.insertCell(cellIdx++);
			cell.style.wordWrap = 'break-word';
			cell.style.wordBreak = 'break-all';
			cell.style.border = '1px solid black';
			cell.innerHTML = scope.rawOutput[0][i][3];

			// Field 2 Average
			cell = row.insertCell(cellIdx++);
			cell.style.border = '1px solid black';
			cell.innerHTML = Math.round(scope.rawOutput[1][i][2][1]*100)/100;

			// Field 2 SD
			cell = row.insertCell(cellIdx++);
			cell.style.border = '1px solid black';
			cell.innerHTML = Math.round(scope.rawOutput[1][i][3][1]*100)/100;

			// PCC
			cell = row.insertCell(cellIdx++);
			cell.style.border = '1px solid black';
			cell.style.textAlign = 'right';
			cell.innerHTML = Math.round(scope.rawOutput[1][i][4][1]*100)/100;

			// RCC
			cell = row.insertCell(cellIdx++);
			cell.style.border = '1px solid black';
			cell.style.textAlign = 'right';
			cell.innerHTML = Math.round(scope.rawOutput[1][i][5][1]*100)/100;

			rowCounter++;
		}
	}
	document.getElementById("totalPairsDiv").innerHTML = "Total Pairs: " + (rowCounter - 1);
}

function createPairsTable(){
    var body = document.getElementById("mainDiv"),
        tbl = document.createElement('table');
    tbl.style.width  = '1000px';
    tbl.style.border = '1px solid black';
	tbl.style.marginBottom = '20px';

	var cellIdx = 0;
	var header = tbl.createTHead();
	var row = header.insertRow(0);
	
	var cell = row.insertCell(cellIdx++);
	cell.style.border = '1px solid black';
	cell.innerHTML = "<b>Table 1</b>";

	cell = row.insertCell(cellIdx++);
	cell.style.border = '1px solid black';
	cell.innerHTML = "<b>Field 1</b>";

	cell = row.insertCell(cellIdx++);
	cell.style.border = '1px solid black';
	cell.innerHTML = "<b>Field 1 Average</b>";

	cell = row.insertCell(cellIdx++);
	cell.style.border = '1px solid black';
	cell.innerHTML = "<b>Field 1 SD</b>";

	cell = row.insertCell(cellIdx++);
	cell.style.border = '1px solid black';
	cell.innerHTML = "<b>Table 2</b>";

	cell = row.insertCell(cellIdx++);
	cell.style.border = '1px solid black';
	cell.innerHTML = "<b>Field 2</b>";

	cell = row.insertCell(cellIdx++);
	cell.style.border = '1px solid black';
	cell.innerHTML = "<b>Field 1 Average</b>";

	cell = row.insertCell(cellIdx++);
	cell.style.border = '1px solid black';
	cell.innerHTML = "<b>Field 1 SD</b>";

	cell = row.insertCell(cellIdx++);
	cell.style.border = '1px solid black';
	cell.innerHTML = "<b>PCC</b>";

	cell = row.insertCell(cellIdx++);
	cell.style.border = '1px solid black';
	cell.innerHTML = "<b>RCC</b>";

	var mycap = tbl.createCaption();
	mycap.innerHTML = "<b>Pairs List</b>";

	body.appendChild(tbl);
	return tbl;
}
</script>

<body>

<div class="container-fluid" id="mainDiv">
	<br>

	<div class="container-fluid">
		<input type="button" ng-click="compute();" value="Compute All Pairs (Enter)" id="computeButton"><br><br>

		Filter Methods:<br>
		<div style='width:200px;'>
			<div class="container-fluid" style='border:1px solid black;'>
				<input type="radio" name="sameTableFilter" value='notSame' onchange="filterMethodChange();"> Not same tables<br>
				<input type="radio" name="sameTableFilter" value='allowSame' onchange="filterMethodChange();" checked='true'> Allow same tables<br>
				<input type="radio" name="sameTableFilter" value='onlySame' onchange="filterMethodChange();"> Only same tables<br>
			</div>
			<br>
			<div class="container-fluid" style='border:1px solid black;'>
				<input type="radio" name='filterMethod' value='AND' checked='true' onchange="filterMethodChange();"> ANDing<br>
				<input type="radio" name='filterMethod' value='OR' onchange="filterMethodChange();"> ORing<br>
			</div>
			<br>
		</div>
		PCC lower tolerance: <input type="number" id='PCC_lowerTolerance'><br>
		PCC upper tolerance: <input type="number" id='PCC_upperTolerance'><br>
		<br>
		RCC lower tolerance: <input type="number" id='RCC_lowerTolerance'><br>
		RCC upper tolerance: <input type="number" id='RCC_upperTolerance'><br>
		<br>
		<input type="button" id="updateTolerancesButton" value="Update Tolerances" onclick="filterMethodChange();">
		<br><br>
	</div>
	<div class="container-fluid" id="checkboxDiv"/>

	<!--Raw Output: {{rawOutput}}<br><br>-->
	<!--Table List: {{tableList}}<br><br>-->
	<!--Field List: {{fieldList}}<br><br>-->
	<div class="container-fluid">
		Status: {{status}}<br><br>
	</div>
	<div class="container-fluid" id="totalPairsDiv"/><br>
</div>
<br>

</body>
</html>