<!DOCTYPE html>
<html>

<script>
jQuery(function($){
	$("#computeButton").click(function(){
		updatePairsTable();
	});
});

document.addEventListener("keyup", function(event) {
    event.preventDefault();
    if (event.keyCode == 13) {
        document.getElementById("computeButton").click();
    }
});

function removeRows(tableID){
	var table = document.getElementById(tableID);
	while($("#" + tableID + " tr").length > 1){
		table.deleteRow(1);
	}
}

// Removes all tables from the given div.
function removeAllTables(givenDiv){
	var tables = document.getElementById(givenDiv).getElementsByTagName("table");
	for (var i = tables.length - 1; i >= 0; i -= 1){
		if (tables[i]){
			tables[i].parentNode.removeChild(tables[i]);
		}
	}
}

function updatePairsTable(){
	var scope = angular.element(document.getElementById("mainDiv")).scope();
	
	if(scope.status != "Successful response."){
		setTimeout(function(){
			updatePairsTable();
		}, 250);
	}
    else{
		removeAllTables("mainDiv");
		var tbl = createPairsTable();
		var length = (scope.rawOutput[0]).length;
		var cellIdx;
		var cell;

		for(var rowCounter = 0; rowCounter < length; rowCounter++){
			var row = tbl.insertRow(rowCounter + 1);
			cellIdx = 0;

			// Table 1
			cell = row.insertCell(cellIdx++);
			cell.style.border = '1px solid black';
			cell.innerHTML = scope.rawOutput[0][rowCounter][0];

			// Field 1
			cell = row.insertCell(cellIdx++);
			cell.style.wordWrap = 'break-word';
			cell.style.wordBreak = 'break-all';
			cell.style.border = '1px solid black';
			cell.innerHTML = scope.rawOutput[0][rowCounter][1];

			// Field 1 Average
			cell = row.insertCell(cellIdx++);
			cell.style.border = '1px solid black';
			cell.innerHTML = scope.rawOutput[1][rowCounter][0][1].toFixed(2);

			// Field 1 SD
			cell = row.insertCell(cellIdx++);
			cell.style.border = '1px solid black';
			cell.innerHTML = scope.rawOutput[1][rowCounter][1][1].toFixed(2);

			// Table 2
			cell = row.insertCell(cellIdx++);
			cell.style.border = '1px solid black';
			cell.innerHTML = scope.rawOutput[0][rowCounter][2];

			// Field 2
			cell = row.insertCell(cellIdx++);
			cell.style.wordWrap = 'break-word';
			cell.style.wordBreak = 'break-all';
			cell.style.border = '1px solid black';
			cell.innerHTML = scope.rawOutput[0][rowCounter][3];

			// Field 2 Average
			cell = row.insertCell(cellIdx++);
			cell.style.border = '1px solid black';
			cell.innerHTML = scope.rawOutput[1][rowCounter][2][1].toFixed(2);

			// Field 2 SD
			cell = row.insertCell(cellIdx++);
			cell.style.border = '1px solid black';
			cell.innerHTML = scope.rawOutput[1][rowCounter][3][1].toFixed(2);

			// PCC
			cell = row.insertCell(cellIdx++);
			cell.style.border = '1px solid black';
			cell.style.textAlign = 'right';
			cell.innerHTML = scope.rawOutput[1][rowCounter][4][1].toFixed(4);;

			// RCC
			cell = row.insertCell(cellIdx++);
			cell.style.border = '1px solid black';
			cell.style.textAlign = 'right';
			cell.innerHTML = scope.rawOutput[1][rowCounter][5][1].toFixed(4);;
		}
	}
}

function createPairsTable(){
    var body = document.getElementById("mainDiv"),
        tbl = document.createElement('table'),
		th = document.createElement('th');
    tbl.style.width  = '1000px';
    tbl.style.border = '1px solid black';
	tbl.style.marginBottom = '20px';

	var cellIdx = 0;

	var header = tbl.createTHead();
	var row = header.insertRow(0);
	
	var cell = row.insertCell(cellIdx++);
	cell.style.border = '1px solid black';
	cell.innerHTML = "<b>Table 1</b>";

	cell = row.insertCell(cellIdx++);
	cell.style.border = '1px solid black';
	cell.innerHTML = "<b>Field 1</b>";

	cell = row.insertCell(cellIdx++);
	cell.style.border = '1px solid black';
	cell.innerHTML = "<b>Field 1 Average</b>";

	cell = row.insertCell(cellIdx++);
	cell.style.border = '1px solid black';
	cell.innerHTML = "<b>Field 1 SD</b>";

	cell = row.insertCell(cellIdx++);
	cell.style.border = '1px solid black';
	cell.innerHTML = "<b>Table 2</b>";

	cell = row.insertCell(cellIdx++);
	cell.style.border = '1px solid black';
	cell.innerHTML = "<b>Field 2</b>";

	cell = row.insertCell(cellIdx++);
	cell.style.border = '1px solid black';
	cell.innerHTML = "<b>Field 1 Average</b>";

	cell = row.insertCell(cellIdx++);
	cell.style.border = '1px solid black';
	cell.innerHTML = "<b>Field 1 SD</b>";

	cell = row.insertCell(cellIdx++);
	cell.style.border = '1px solid black';
	cell.innerHTML = "<b>PCC</b>";

	cell = row.insertCell(cellIdx++);
	cell.style.border = '1px solid black';
	cell.innerHTML = "<b>RCC</b>";

	var mycap = tbl.createCaption();
	mycap.innerHTML = "<b>Pairs List</b>";

	body.appendChild(tbl);
	return tbl;
}
</script>

<script
src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js">
</script>

<body>

<div class="container-fluid" id="mainDiv">
	<br>
	<input type="button" ng-click="compute();" value="Compute All Pairs (Enter)" id="computeButton"><br><br>
	Status: {{status}}<br><br>
</div>
<br>

</body>
</html>