<!doctype html>
<html lang="en" ng-app="olliModule">
  <head>
    <meta charset="utf-8">
    <base href="/">
    <title>Olli</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/libs/bootstrap/3.3.7/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/olli.css" />
    
    <script src="/libs/jquery/3.1.1/jquery-3.1.1.min.js"></script>
    <script src="/libs/angular/1.6.1/angular.min.js"></script>
    <script src="/libs/angular/1.6.1/angular-route.min.js"></script> <!-- provides ngRoute -->
    <script src="/libs/angular/1.6.1/angular-animate.js"></script>   <!-- provides ngAnimate -->

    <script src="/js/olliApp.js"></script>
    <script src="/controllers/NavController.js"></script>
    <script src="/controllers/MunicipalitiesController.js"></script>
    <script src="/controllers/MunicipalityController.js"></script>
    <script src="/controllers/LibrariesController.js"></script>
    <script src="/controllers/LibraryController.js"></script>

  </head>

  <body>

    <div id="main">
      <div class="olli-header">
	<h1>Olli</h1>Our Library's Life Investigator
      </div>

      <div class="top-menu">
	
	<div class="navbar" ng-controller="NavController">
	  <ul class="nav navbar-nav">
	    <li ng-class="navClass('home')"><a href='' ng-click="loadHome()">Home</a></li>
	    <li ng-class="navClass('municipalities')"><a href='' ng-click="loadMunicipalities()">Municipalities</a></li>
	    <li ng-class="navClass('libraries')"><a href='' ng-click="loadLibraries()">Libraries</a></li>
	  </ul>
	</div>
 
      </div> <!-- top-menu -->
      
    </div> <!-- main -->

    <!-- placeholder for views -->
    <div ng-view></div>
    
  </body>
</html>


