<!doctype html>
<html lang="en" ng-app="olliModule">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <base href="/">
    <title>Olli</title>

    <link rel="stylesheet" href="/libs/bootstrap/3.3.7/css/bootstrap.css" />
    <link rel="stylesheet" href="/libs/leaflet/leaflet.css" />
    <link rel="stylesheet" href="/css/olli.css" />
    
    <script src="/libs/jquery/3.1.1/jquery-3.1.1.min.js"></script>
    <script src="/libs/angular/1.6.1/angular.min.js"></script>
    <script src="/libs/angular/1.6.1/angular-route.min.js"></script> <!-- provides ngRoute -->
    <script src="/libs/angular/1.6.1/angular-animate.js"></script>   <!-- provides ngAnimate -->
    <script src="/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/libs/leaflet/leaflet.js"></script>
    
    <script src="/js/olliApp.js"></script>
    <script src="/controllers/NavController.js"></script>
    <script src="/controllers/MunicipalitiesController.js"></script>
    <script src="/controllers/MunicipalityController.js"></script>
    <script src="/controllers/LibrariesController.js"></script>
    <script src="/controllers/LibraryController.js"></script>
    <script src="/controllers/BranchController.js"></script>
    <script src="/controllers/censusNormalizationController.js"></script>
    <script src="/controllers/munGroupingController.js"></script>
    <script src="/controllers/PairAnalysisController.js"></script>


    <script src="/geo/geoMunData.js"></script> <!-- defines geoMunData -->
    <script src="/geo/geoProvBoundary.js"></script>
    <script src="/geo/geoSimpleWater.js"></script>
<!--    <script src="/geo/geoRoads.js"></script>
<!--    <script src="/geo/justPortage.js"></script> <!-- defines geoMunData -->
    <script src="/js/olliMap.js"></script> <!-- configure leaflet map -->
	
	</head>

	<body>

    <div id="main">
      <div class="olli-header">
	<h1>Olli</h1>Our Library's Life Investigator
      </div>

      <div class="top-menu">
	
	<div class="navbar" ng-controller="NavController">
	  <ul class="nav navbar-nav">
	    <li ng-class="navClass('home')"><a href='' ng-click="loadHome()">Home</a></li>
	    <li ng-class="navClass('municipalities')"><a href='' ng-click="loadMunicipalities()">Municipalities</a></li>
	    <li ng-class="navClass('libraries')"><a href='' ng-click="loadLibraries()">Libraries</a></li>
	    <li ng-class="navClass('censusNormalization')"><a href='' ng-click="loadCensusEntry()">Census Normalization</a></li>
      <li ng-class="navClass('pairAnalysis')"><a href='' ng-click="loadPairAnalysis()">Pair Analysis</a></li>
    	<li ng-class="navClass('munGrouping')"><a href='' ng-click="loadMunGrouping()">Municipality Grouping</a></li>
	  </ul>
	</div>
 
      </div> <!-- top-menu -->
      
    </div> <!-- main -->

    <div id="leftpane">
      <div id="mapid"></div>
    </div>

    <div id="rightpane">
      <!-- placeholder for views -->
      <div ng-view></div>
    </div>
    
  </body>
</html>


